main{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}

.game-container {
    width: 80%;
    background-color: #a52a2a;
    box-shadow: #000000 5px 5px 10px 0;
    margin: 3vmin 0;
    padding: 2vmin;
    text-align: center;
    font-size: 1,2em;
    font-weight: 700;
}

#gameMenu>select {
    font-size: 1.4em;
    padding: 5px;
    background-color: #7fffd4;
    color: #0000ff;
    border: #a52a2a solid 2px;
    border-radius: 5px;
    
}

button {
    width: 10%;
    background-color:  #a52a2a;
    box-shadow: #000000 5px 5px 5px 0;
    margin: 1vmin 0;
    padding: 1vmin;
    text-align: center;
    font-size: 1em;
    font-weight: 800;
}

.ttdZone {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;

}

.infoPanel {
    width: 30%;
    background-color: #ffe4c4;
    box-shadow: #000000 5px 5px 10px 0;

}

.grid {
    width: 60%;
    aspect-ratio: 1;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;

}

.square {
    width: 33%;
    aspect-ratio: 1;
    background-color: #ffe4c4;
    border: black solid 1px;
    background-size: cover;
}

.square:hover {
    background-color: #1e89e7;
}