main{ 
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    background-color: #f5f5dc;
    padding-top: 5vh;
}

article{
    width: 70%;
    background-color: beige;
    box-shadow: black 5px 5px 10px 0;
    padding: 10px;
    margin-bottom: 2.5vh;
    height: 25vh;

}

article>h1 {
    color: gray;
    font-size: 2em;
    margin-bottom: 1.5vh;
}

article>h2 {
    color: gray;
    font-size: 2em;
    margin-bottom: 1.5vh;
} 

article>p, article>li{
    font-size: 1.2em;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

